sed -i -r 's/(listen .*443)/\1; #/g; s/(ssl_(certificate|certificate_key|trusted_certificate) )/#;#\1/g; s/(server \{)/\1\n    ssl off;/g' /etc/nginx/sites-available/{{ matrix_domain }}.conf
systemctl restart nginx.service
certbot certonly --webroot -d {{ matrix_domain }} --email {{ matrix_letsencrypt_email }} -w /var/www/_letsencrypt -n --agree-tos --force-renewal
sed -i -r -z 's/#?; ?#//g; s/(server \{)\n    ssl off;/\1/g' /etc/nginx/sites-available/{{ matrix_domain }}.conf
systemctl reload nginx.service
